name: bio_sync_os
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # --- UI & Utilities ---
  cupertino_icons: ^1.0.8
  google_fonts: ^6.3.3
  fl_chart: ^1.1.1
  table_calendar: ^3.2.0
  
  # --- Functionality ---
  http: ^1.6.0
  image_picker: ^1.2.1
  google_mlkit_text_recognition: ^0.15.0
  device_calendar: ^4.3.2
  timezone: ^0.9.2
  receive_sharing_intent: ^1.8.1
  shared_preferences: ^2.5.3
  pedometer: ^4.1.1
  permission_handler: ^12.0.1
  url_launcher: ^6.2.5

  # --- BACKEND & TRACKING ---
  firebase_core: ^3.6.0
  firebase_analytics: ^11.3.0
  firebase_crashlytics: ^4.1.0
  hive: ^2.2.3
  hive_flutter: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
